@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

a:link {
    font-color: #eeeeff;
    font-size: 1.5vw;
    font-weight: 600;
}
body {
    width: 60vw;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1vw;
    margin-top: 0;
}
h2 {
    padding: 5px;
    background-color: white;
    border: 2px solid #5555aa;
    width: 70%;
}
h3 {
    font-style: italic;
}
html {
    background-color: white;
    display: flex;
    justify-content: center;
}
img {
    float: left;
    margin-left: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    background-color: #eeeeff;
    border: 2px solid #5555aa;
    margin-top: 14vw;
    width: 100%;
}
.clear {
    clear: both;
}
.downloadIcon {
    width: 10vw;
    background-color: white;
    border: 2px solid #5555aa;
    margin: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: calc(60vw + 4px);
    background-color: white;
    border-bottom: 2px solid #5555aa;
    padding: 1vw;
    margin-top: 0;
}
.headerLogo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.linkBar {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
    padding: 0;
}
.mainIcon {
    width: 7vw;
    float: left;
    margin: 0;
    margin-right: 20px;
}
.pageIcon {
    width: 10vw;
}
.programContainer {
    margin-bottom: 40px;
}
.standard {
    font-size: 1.1vw;
}